.addTaskForm {
    width: 60%;
    margin: auto;
    padding: 10px 10px;
}
.addTaskButton {
    text-align : center;
    margin: 10px;
}
.formLabel {
    display: block;
    margin-bottom: 10px;
    color: brown;
    font-size: 21px;
}
.formLabelCheck {
    display: inline;
    margin-bottom: 20px;
    color: brown;
    font-size: 21px;
}
.formInput {
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    line-height: 1.5em;
    font-size: 15px;
    border: none;
    border-bottom: 1px solid
}
.submitButton {
    width: 68px;
    height: 45px;
    background: darkgoldenrod;
    border: none;
    text-align: center;
}
.buttonFormGroup {
    text-align : center;
}